$theme-colors: (
        "primary": #696969,
        "danger": #ff4136
);

$secondary: #ff8a65;

$font-family-base:'Roboto', sans-serif;
$body-bg: #dcdcdc;
@import "home";
@import "new";
@import "~bootstrap/scss/bootstrap";

.acceuil > h1{
  font-weight: 700;
  font-size: 80px;
}