{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}
<section class="acceuil mt-0">
    <h1 class="text-center text-white py-4">Bienvenue !</h1>
    <h2 class="text-center text-white font-weight-bold">Retrouver toute vos séries préférées en exclusivité içi !</h2>
</section>


{% endblock %}